{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}ログイン{% endblock %}

{% block content %}
<div class="login">
    <h2>ログイン</h2>
    <form method="post">
        {% csrf_token %}
        
        <div class="username">
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">
                    {{ form.username.errors }}
                </div>
            {% endif %}
        </div>
        <div class="password">
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">
                    {{ form.password.errors }}
                </div>
            {% endif %}
        </div>
        {% if form.non_field_errors %}
            <div class="error">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="btn">ログイン</button>
    </form>
    <p>アカウントをお持ちでないですか？ <a href="{% url 'accounts:signup' %}">新規登録</a></p>
</div>
{% endblock %}