.body{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.title{
    font-size: 25px;
}


.logs{
    display: flex;
    background-color: #fff;
}



.log{
    width: 100%;
    height: auto;
    background-color: #fff;
}

.title_user{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}


.logs_area{
    margin: 20px;
}





.log_img img{
    width: 100%;
    height: auto;
}

