.form-input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
    margin: 5px;
    text-align: left;
    height: 100px;
}

.profile {
    width: 50%;
    margin: 0 auto;
}

.image_input {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 3px;

}

.image_input::-webkit-file-upload-button {
    background-color: #3cb371;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user_icon_profile img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile_bio{
    margin: 0 auto;
    width: 70%;

}

.profile_bio p{
    font-size: 20px;
    margin: 50px 0 0 5px;
    text-align: left;
    

}

.btn{
    margin: 20px 0 0 0;
}

.form-group{
    margin: 20px 0 0 0;
}

.edit{
    display: flex;

}