{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/delete_confirm.css' %}">

{% endblock %}

{% block title %}削除確認{% endblock %}

{% block content %}
<div class="container">
    <h2>本当に日記「{{ log.title }}」を削除しますか？</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="d_btn">削除</button>
        <a href="{% url 'mylog:mypage' %}" class="c_btn">キャンセル</a>
    </form>
</div>
{% endblock %}