{% extends 'base.html' %}

{% block title %}
    日記一覧
{% endblock %}

{% block content %}
    <h1>日記一覧</h1>
    <ul>
        {% for log in logs %}
            <li><a href="{% url 'mylog:log_detail' log.pk %}">{{ log.title }}</a></li>
            <li>{{ log.image }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'mylog:log_create' %}">日記作成</a>
    <br>
    <a href="{% url 'accounts:login' %}">ログイン</a>
    <br>
    <a href="{% url 'accounts:profile' %}">プロフィール</a>
    <br>
    <a href="{% url 'mylog:mypage' %}">マイページ</a>
{% endblock %}