{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/log_list.css' %}">
{% endblock %}

{% block title %}
    日記一覧
{% endblock %}

{% block content %}
    <div class="body">
        <div class="logs">
            {% for log in logs %}
                <div class="log">
                    {% if log.image %}
                        <div class="log_img"><a href="{% url 'mylog:log_detail' log.pk %}"><img src="{{ log.image.url }}" alt="投稿画像"></a></div>
                    {% else %}
                        <div class="log_img"><a href="{% url 'mylog:log_detail' log.pk %}"><img src="{% static 'images/NoImage.jpg' %}" alt="投稿画像"></a>
                    {% endif %}
                    <div class="title_user">
                        <div class="log_title"><a href="{% url 'mylog:log_detail' log.pk %}">{{ log.title }}</a></div>
                        <div class="log_user"><a href="{% url 'mylog:log_detail' log.pk %}">@{{ log.author }}</a></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}