{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/log_create.css' %}">
{% endblock %}

{% block content %}

<div class="body">
    <form method="post" enctype="multipart/form-data">
        <div class="log_create">
            {% csrf_token %}
            <div class="log_create_edit">
                <div class="log_img">
                    <img id="imagePreview" src="#" alt="プレビュー">
                    <input type="file" name="image" id="imageInput">
                </div>
                <div class="log_create_titlecontent">
                    {{ form.title }}
                    <div class="content">
                        {{ form.content }}
                        <div class="tags">{{ form.tags }}</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="public">
                    <p>{{ form.is_public }}公開</p>
                </label>
            </div>

            <button type="submit" class="btn">投稿</button>
        </div>
    </form>
</div>



<script>
    const imageInput = document.getElementById('imageInput');
    const imagePreview = document.getElementById('imagePreview');
    const noImageSrc = "{% static 'images/NoImage.jpg' %}";

    imagePreview.src = noImageSrc;
    imagePreview.style.display = 'block';

    imageInput.addEventListener('change', function () {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();

            reader.addEventListener('load', function () {
                imagePreview.src = reader.result;
                imagePreview.style.display = 'block';
            });

            reader.readAsDataURL(file);
        } else {
            // ファイルが選択されていない場合、noimage.png を表示
            imagePreview.src = noImageSrc;
        }
    });


</script>

{% endblock %}