{% extends 'base.html' %}

    {% block title %}マイページ{% endblock %}

    {% block content %}
        <h1>マイページ</h1>
        <ul>
            {% for log in logs %}
                <li>
                    <a href="{% url 'mylog:log_detail' log.pk %}">{{ log.title }}</a>
                    - {{ log.date }}
                </li>
            {% endfor %}
        </ul>
        <br><br><br><br><br>
        <form method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button type="submit">ログアウト</button>
        </form>
    {% endblock %}